<div class="container">
  <div class="row header">
    <div class="col">
      <img
        src="https://lh3.googleusercontent.com/i56Mr__fLaMC5DMqW3MzmQTBTsMg77T_UMRrX1SF2DWomKz6iQht9gr_SQa2Tr3YfRlI4POq_fQPK7fh5LhvS9blCtnOkaS6LoPRM35ZqFkumYoKWV1yLfaKSHjJFWViH19B1WMolgY=w642-h855-no"
        alt="Hammad Naseem">
      <div class="title">
        <h1>Hammad Naseem</h1>
        <h3>Software Engineer</h3>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="row card">
      <div class="col-8 card-content">
        <h4>About Me</h4>
        <p>
          Write a brief intro about yourself. It's a good idea to include your personal interests and hobbies as well.
          Lorem ipsum
          dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. Commodo
          ligula eget
          dolor. Aenean massa.
        </p>
      </div>
      <div class="col-4 card-content">
        <p>Madison, WI</p>
      </div>
    </div>
    <div class="row card">
      <div class="col-8 card-content">
        <h4>Projects</h4>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>